.welcome-container {
	background-image: url("../assets/img/90677.jpg");
	background-size: cover;
	height: 100vh;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.welcome-container .welcome-logo {
	margin: auto;
	display: block;
	width: 100px;
}

.welcome-container .welcome-headline {
	text-align: center;
	color: white;
	margin-top: 8px;
}

.welcome-container .welcome-sub-headline {
	text-align: center;
	color: white;
	font-size: 12px;
}

.welcome-container .welcome-list-group {
	padding: 65px 0;
}

.welcome-container .footer-welcome {
	color: white;
	font-size: 12px;
	text-align: center;
}

.welcome-container .footer-welcome .create {
	font-weight: bolder;
	text-decoration: underline;
}

.welcome-container .welcome-list-group .list-group-item {
	background: none;
	border: none;
	padding: 5px 0;
}

.welcome-container .welcome-list-group .list-group-item .btn {
	width: 100%;
	border-color: white;
}

.welcome-container .welcome-list-group .list-group-item .btn .btn-icon {
	color: white;
}

.welcome-container .welcome-list-group .list-group-item .btn a {
	color: white;
	font-size: 12px;
}

.login-container .login-nav {
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
	display: flex;
}

.login-container .login-nav .next {
	margin-left: auto;
}

.login-container .login-nav .next .nav-link {
	font-weight: bold;
	color: rgb(40, 171, 227);
	font-size: 14px;
}

.login-container .login-nav .back .nav-link {
	color: rgb(40, 171, 227);
	font-weight: bold;
}

.login-container .login-nav .back .nav-link .icon {
	margin-right: 10px;
}

.login-container .login-wrapper {
	padding: 0 10px;
	padding-top: 30px;
}

.login-container .login-wrapper .forgot-password {
	text-align: center;
}

.login-container .login-wrapper .forgot-password .forgot-password-label {
	color: black;
	font-size: 12px;
}

.login-container .login-wrapper .forgot-password .forgot-password-label span {
	font-weight: bold;
	text-decoration: underline;
}

.login-container .login-wrapper .username-wrapper .form-control {
	border: none;
	border-bottom: 1px solid lightgray;
	border-radius: 0;
	text-align: center;
	box-shadow: none;
}

.login-container .login-wrapper .password-wrapper .form-control {
	border: none;
	border-bottom: 1px solid lightgray;
	border-radius: 0;
	text-align: center;
	box-shadow: none;
}

.home-container .header-nav {
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.home-container .footer-nav {
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.home-container .footer-nav .nav-link {
	color: lightgray;
}

.home-container .footer-nav .nav-link p {
	color: gray;
	font-size: 10px;
	margin: 0;
}

.home-container .footer-nav .active {
	color: gray;
}

.home-container .footer-nav .button-report {
	color: rgb(40, 171, 227);
}

.home-container .header-nav .next {
	margin-left: auto;
}

.home-container .header-nav .next .nav-link {
	font-weight: bold;
	color: rgb(40, 171, 227);
	font-size: 14px;
}

.home-container .header-nav .back .nav-link {
	color: rgb(40, 171, 227);
	font-weight: bold;
}

.home-container .header-nav .back .nav-link .icon {
	margin-right: 10px;
}

.home-container .home-wrapper {
	padding: 10px 0;
	padding-bottom: 65px;
	background-color: rgb(230, 230, 230);
}

.home-container .home-wrapper .carousel-item {
	height: 120px;
}

.home-container .home-wrapper .carousel {
	margin-bottom: 10px;
}

.home-container .home-wrapper .card .card-header .header-card .user-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid lightgray;
}

.home-container .home-wrapper .card .card-header .header-card .user {
	display: flex;
}

.home-container .home-wrapper .card .card-header .header-card .user p {
	margin: 0;
	margin-left: 10px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}

.home-container .home-wrapper .card .card-header .header-card .option {
	margin-left: auto;
}

.home-container .home-wrapper .card {
	border: 0;
	border-radius: 0;
	margin-bottom: 5px;
}

.home-container .home-wrapper .card .card-header {
	border: 0;
	border-radius: 0;
	background-color: white;
}

.home-container .home-wrapper .card .card-body {
	padding: 0;
}

.home-container .home-wrapper .card .card-body .feed-img {
	border-radius: 0;
	max-height: 300px;
}

.home-container .home-wrapper .card .card-body .alert-danger {
	color: white;
	text-align: left;
	border-radius: 0;
	border: 0;
	background-color: rgb(207, 41, 41);
	height: 40px;
	font-size: 12px;
	margin-bottom: 0;
}

.home-container .home-wrapper .card .card-body .alert-light {
	color: black;
	text-align: left;
	border-radius: 0;
	border: 0;
	background-color: white;
	height: 40px;
	font-size: 12px;
	margin-bottom: 0;
}

.home-container .home-wrapper .card .card-body .alert-light .fa-comment {
	margin-left: 10px;
}

.home-container .home-wrapper .card .card-body .card-text {
	font-size: 12px;
	text-align: justify;
	padding: 5px 10px;
	margin-bottom: 3px;
}

.home-container .home-wrapper .card .card-body .card-comment {
	font-size: 12px;
	text-align: justify;
	padding: 5px 10px;
	margin-bottom: 3px;
}

.home-container .home-wrapper .card .card-body .support-text {
	font-size: 12px;
	text-align: justify;
	padding: 5px 10px;
	font-weight: bold;
	margin-bottom: 0;
}

.home-container .home-wrapper .card .card-body .card-comment span {
	font-weight: bold;
}

.progressbar {
	counter-reset: step;
	margin-top: 10px;
}
.progressbar li {
	list-style: none;
	display: inline-block;
	width: 30.33%;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-radius: 100%;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	background-color: #fff;
}
.progressbar li:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color: rgb(40, 171, 227);
}
.progressbar li.active:before {
	border-color: rgb(40, 171, 227);
}
.progressbar li.active + li:after {
	background-color: rgb(40, 171, 227);
}

.login-container .button-submit {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 0;
	border-radius: 0;
	box-shadow: 0;
	font-weight: bold;
}

.login-container .write-wrapper {
	padding-bottom: 45px;
	padding-left: 0;
	padding-right: 0;
}

.login-container .write-wrapper .card {
	border: 0;
	border-radius: 0;
}

.login-container .write-wrapper .card .card-img-top {
	border: 0;
	border-radius: 0;
	max-height: 300px;
}

.login-container .write-wrapper .card .card-body {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.login-container .write-wrapper .card .card-body .row .col-3 {
	padding: 0 5px;
	text-align: center;
}

.login-container .write-wrapper .card .card-body .row .col-3 .icon {
	color: lightgray;
}

.login-container .write-wrapper .card .card-body .row .col-3 p {
	font-size: 10px;
	color: lightgray;
}

.login-container .write-wrapper .card .card-body .row .active .icon {
	color: rgb(40, 171, 227);
}

.login-container .write-wrapper .card .card-body .row .active p {
	font-size: 10px;
	color: black;
}

.login-container .write-wrapper .card .card-body .category-nav .nav-item p {
	font-size: 10px;
}

.login-container .write-wrapper .card .card-body hr {
	margin: 0;
}

.login-container .write-wrapper .card .card-body .alert-light {
	margin: 0;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 12px;
}

.login-container .write-wrapper .card .card-body .form .form-control {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 12px;
}
